body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}





















































/* body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid transparent;
  border-radius: 20%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg);
  box-shadow: 0 0 30px rgba(249, 240, 240, 0.5);
  transition: all 0.3s ease;
}

.red {
  background-color: #FF4136;
}

.green {
  background-color: #2ECC40;
}

.blue {
  background-color: #0074D9;
}

.yellow {
  background-color: #FFDC00;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
} */
